* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

:root {
  --nav-color: #ffffff;
  --body-color: #ffffff;
  --dark-blue: #2b2973;
  --moroon-red: rgb(205, 65, 65);
  --light-blue: #4376d5;
  --section-color: rgb(251, 250, 250);
}

nav {
  width: 100%;
  height: 15vh;
  background-color: var(--nav-color);
  display: flex;
  font-weight: bold;
  overflow: hidden;
}

.navSticky {
  position: fixed;
  background-color: var(--nav-color);
  opacity: 0.8;
}
.nav-logo {
  height: 100%;
  width: 30%;
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

/* *** Making nav icon *** */

.nav-logo .logo-img .logo-box-1 {
  height: 2rem;
  width: 2rem;
  background-color: green;
  position: relative;
  top: 0.5rem;
  transform: rotate(30deg);
  z-index: 1;
  border: 1.5px solid white;
}

.nav-logo .logo-img .logo-box-2 {
  height: 2rem;
  width: 2rem;
  background: var(--moroon-red);
  position: relative;
  top: -0.9rem;
  transform: rotate(70deg);
}
.logo-name {
  font-size: 1.5rem;
  margin-left: 0.3rem;
  color: var(--dark-blue);
}
.logo-name a {
  color: inherit;
}

.nav-content {
  height: 100%;
  width: 70%;
  padding-left: 25%;
  /* background-color: var(--nav-color); */
  display: flex;
  align-items: center;
}
.nav-content ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.nav-content ul li a {
  transition: color 0.3s linear;
  color: var(--dark-blue);
}

.nav-content ul li a:hover {
  color: var(--light-blue);
}
.menu-line {
  display: none;
}
@media only screen and (max-width: 720px) {
  .nav-logo {
    height: 100%;
    width: 70%;
    padding-left: 4rem;
  }
  .nav-content {
    display: none;
  }
  .menu-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
  }
  .menu-line i {
    font-size: 2rem;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
  }
}
.contact-background {
  background-color: rgb(215, 51, 51);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.4s linear;
}
.contact-background:hover {
  color: white;
  background-color: var(--moroon-red);
}

/* ************************** Hero section ************** */
#hero {
  display: flex;
}
.hero-content {
  background-color: var(--body-color);
  height: 85vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

.position {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  color: var(--dark-blue);
}

.hero-content-detail {
  color: var(--dark-blue);
  line-height: 1.5rem;
}
.hero-content-media a {
  text-decoration: none;
}
.media-custom {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.linkdin {
  color: #213454;
}
.linkdin:hover {
  color: #2c4672;
}
.github {
  color: #233e70;
}
.github:hover {
  color: #24437b;
}
.tech-stack {
  display: flex;
  justify-content: stretch;
}
.tech-stack-items {
  margin-right: 1rem;
  color: var(--dark-blue);
}
/* **** hero section image part **** */
.hero-img {
  background-color: var(--body-color);
  height: 85vh;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.hero-img img {
  height: 15rem;
  bottom: 4rem;
  animation: image-animation 8s linear infinite;
  transition: all 1s linear;
  background-color: var(--light-blue);
}
@keyframes image-animation {
  0% {
    border-radius: 63% 38% 34% 53% / 64% 49% 45% 30%;
  }
  25% {
    border-radius: 76% 28% 54% 35% / 48% 38% 54% 48%;
  }
  50% {
    border-radius: 54% 51% 17% 75% / 25% 38% 54% 63%;
  }
  80% {
    border-radius: 76% 28% 54% 35% / 48% 38% 54% 48%;
  }
  100% {
    border-radius: 63% 38% 34% 53% / 64% 49% 45% 30%;
  }
}
@media only screen and (max-width: 720px) {
  .position {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark-blue);
  }

  .hero-content-detail {
    color: var(--dark-blue);
    line-height: 1.5rem;
  }

  .media-custom {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .hero-img img {
    height: 8rem;
    bottom: 2rem;
  }
}
/* ********************* About Section ************** */
#about {
  height: 100vh;
  width: 100%;
  background-color: red;
  display: flex;
  margin-bottom: 2px;
}
/* image content */
.abt-img-sec {
  background-color: var(--body-color);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--section-color);
}
.abt-img-sec img {
  height: 22rem;
  width: 30rem;
  border-radius: 5px;
}
/* about content */
.abt-content-sec {
  background-color: var(--body-color);
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  background-color: var(--section-color);
}
.abt-content-sec .inner-div {
  background-color: var(--body-color);
  height: 22rem;
  width: 21rem;
}
.inner-div .section-title {
  color: var(--light-blue);
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.inner-div .title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}
.inner-div .description {
  color: rgb(104, 95, 95);
  margin-bottom: 0.8rem;
  text-align: left;
}
.inner-div button {
  height: 2.5rem;
  width: 10rem;
}
@media only screen and (max-width: 720px) {
  #about {
    flex-direction: column;
  }
  .abt-img-sec {
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
  }
  .abt-content-sec {
    width: 100%;
  }
  .abt-content-sec .inner-div {
    padding-left: 4rem;
    padding-bottom: 4rem;
    width: 100%;
  }
}

/* ************************ Project section *********************** */
#projects-sec {
  width: 100%;
  padding-left: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.title-portfolio {
  margin-top: 1rem;
}
.projects-title {
  color: var(--light-blue);
  font-weight: bold;
  margin-top: 0.8rem;
}
.projects-desc {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}
.projects-content {
  height: auto;
  width: 100%;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
}
.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
}
.project-img-sec {
  height: 100%;
  width: 50%;
  background-color: var(--body-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.project-img-sec img {
  height: 20rem;
  width: 25rem;
}
.project-description-sec {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  color: rgb(104, 95, 95);
  line-height: 1.3rem;
}

.project-description-sec .project-title {
  color: var(--light-blue);
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.project-view {
  display: flex;
  background-color: var(--body-color);
  justify-content: center;
  padding: 2rem 0rem;
}
.project-description-sec .code-view {
  padding-right: 1rem;
  text-decoration: none;
}
@media only screen and (max-width: 720px) {
  .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .project-img-sec {
    width: 100%;
  }
  .project-description-sec {
    width: 100%;
  }
}

/* *****************************Contact section ******************* */
#contact-sec {
  height: 100%;
  width: 100%;
  background-color: var(--section-color);
  padding: 4rem 5rem;
  display: flex;
}
.contact-form {
  height: 100%;
  width: 65%;
  background-color: var(--body-color);
  border-radius: 0.3rem;
  padding: 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form .form-title {
  color: var(--light-blue);
  font-weight: bold;
}
.contact-form input {
  height: 2.5rem;
  width: 100%;
  padding-left: 0.5rem;
  border: 0.5px solid var(--light-blue);
  border-radius: 0.3rem;
}
.contact-form textarea {
  border: 0.5px solid var(--light-blue);
  border-radius: 0.3rem;
  padding: 1rem;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-top: 2rem;
}
.contact-form form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.contact-form form button {
  height: 3rem;
  width: 10rem;
  background-color: var(--light-blue);
  border: 0px solid black;
  border-radius: 0.3rem;
  color: white;
}
.contact-details {
  height: 84.5vh;
  width: 35%;
  background-color: var(--light-blue);
  padding-top: 1rem;
  padding-left: 1.2rem;
  overflow: hidden;
  border-radius: 0.3rem;
}
.contact-details-heading {
  height: 3rem;
  color: var(--body-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.contact-details-body {
  height: 100%;
}
.hehe {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  color: white;
}
.icon {
  margin-right: 3rem;
}
@media only screen and (max-width: 720px) {
  #contact-sec {
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
    padding: 0 0;
    margin-bottom: 1rem;
  }
  .contact-details {
    width: 100%;
  }
}
/* *************************** Footer section *************** */
footer {
  height: 50vh;
  width: 100%;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--body-color);
}
footer div {
  margin-bottom: 1rem;
}
footer .icons {
  display: flex;
}
.icons i {
  font-size: 1.5rem;
}
.icons a {
  margin: 1rem;
}
