* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --nav-color: #ffffff;
  --body-color: #ffffff;
  --dark-blue: #2b2973;
  --moroon-red: #a32c2c;
}

nav {
  width: 100%;
  height: 15vh;
  background-color: var(--nav-color);
  display: flex;
  font-weight: bold;
  overflow: hidden;
}

.navSticky {
  position: fixed;
  background-color: var(--nav-color);
  opacity: 0.8;
}
.nav-logo {
  height: 100%;
  width: 30%;
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

/* *** Making nav icon *** */

.nav-logo .logo-img .logo-box-1 {
  height: 2rem;
  width: 2rem;
  background-color: green;
  position: relative;
  top: 0.5rem;
  transform: rotate(30deg);
  z-index: 1;
  border: 1.5px solid white;
}
.nav-logo .logo-img .logo-box-2 {
  height: 2rem;
  width: 2rem;
  background: var(--moroon-red);
  position: relative;
  top: -0.9rem;
  transform: rotate(70deg);
}
.logo-name {
  font-size: 1.5rem;
  margin-left: 0.3rem;
}
.logo-name a {
  color: inherit;
  text-decoration: none;
}
.nav-content {
  height: 100%;
  width: 70%;
  padding-left: 25%;
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
}
.nav-content ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.nav-content ul li a {
  color: inherit;
  text-decoration: none;
}
.nav-content ul li {
  transition: color 0.3s linear;
}
.nav-content ul li:hover {
  color: var(--moroon-red);
}
.contact-background {
  background-color: rgb(215, 51, 51);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.4s linear;
}
.contact-background:hover {
  color: white;
  background-color: var(--moroon-red);
}

/* ************************** Hero section ************** */
.hero {
  display: flex;
}
.hero-content {
  background-color: var(--body-color);
  height: 85vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

.position {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  color: var(--dark-blue);
}

.hero-content-detail {
  color: var(--dark-blue);
  line-height: 1.5rem;
}
.hero-content-media a {
  text-decoration: none;
}
.media-custom {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.linkdin {
  color: #213454;
}
.linkdin:hover {
  color: #2c4672;
}
.github {
  color: #233e70;
}
.github:hover {
  color: #24437b;
}
.tech-stack {
  display: flex;
  justify-content: stretch;
}
.tech-stack-items {
  margin-right: 1rem;
  color: var(--dark-blue);
}
/* **** hero section image part **** */
.hero-img {
  background-color: var(--body-color);
  height: 85vh;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img {
  height: 20rem;
  border-radius: 50%;
  position: relative;
  bottom: 4rem;
}
/* ********************* About Section ************** */
.about {
  height: 100vh;
  width: 100%;
  background-color: pink;
  display: flex;
}
/* image content */
.abt-img-sec {
  background-color: var(--body-color);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abt-img-sec img {
  height: 22rem;
  width: 30rem;
  border-radius: 5px;
}
/* about content */
.abt-content-sec {
  background-color: var(--body-color);
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
}
.abt-content-sec .inner-div {
  background-color: var(--body-color);
  height: 22rem;
  width: 21rem;
}
.inner-div .section-title {
  color: #5c97e5;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.inner-div .title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}
.inner-div .description {
  color: rgb(104, 95, 95);
  margin-bottom: 0.8rem;
  text-align: left;
}
.inner-div button {
  height: 2.5rem;
  width: 10rem;
}

/* ************************ Project section *********************** */
.project {
  height: 100vh;
  width: 100%;
  background-color: pink;
  padding-left: 4rem;
  padding-top: 5rem;
  padding: 4rem 5rem 0rem 5rem;
  overflow: hidden;
}
.project-title {
  color: #5c97e5;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.project-desc {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}
.projects-content {
  height: auto;
  width: 100%;
  background-color: yellow;
}
