<%- include('../admin/adminhead.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>

    <main>
        <%if(errorMessage) {%> <center><h3><%= errorMessage %></h3></center><% } %>
        <form class="login-form" action="/auth/login" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%= errorHandler.find(e => e.param === 'email') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= olderInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= errorHandler.find(e => e.param === 'password') ? 'invalid' : '' %>"type="password" name="password" id="password" value="<%= olderInput.password %>">
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
    </main>
    <%- include('../admin/adminend.ejs') %></body>