<%- include('../admin/adminhead.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <main>    
        <%if(errorMessage) { %>
            <h3><center><%= errorMessage %></center></h3>
            <%}%>
        <form class="login-form" action="/auth/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= olderInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= olderInput.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="<%= olderInput.confirmPassword %>">
            </div>
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
<%- include('../admin/adminend.ejs') %></body>