<%- include('./adminhead.ejs') %>

<style>
  input[type='text'],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type='email'],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type='submit'] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type='submit']:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
<body>
  <h3>About Section</h3>

  <div>
    <form
      action="/admin/<% if(editing) {%>update<%} else { %>about<% } %>"
      method="POST"
    >
      <label for="about">About</label>
      <input
        type="text"
        id="about"
        name="about"
        value="<% if (editing) { %><%= abt[0].about %><% } %>"
      />

      <label for="job-title">Job Title</label>
      <input
        type="text"
        id="job-title"
        name="jobtitle"
        value="<% if (editing) { %><%= abt[0].jobtitle %><% } %>"
      />

      <label for="aboutJobTitle">About Job Title</label>
      <input
        type="text"
        id="aboutJobTitle"
        name="aboutJobTitle"
        value="<% if (editing) { %><%= abt[0].aboutJobTitle %><% } %>"
      />

      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<% if (editing) { %><%= abt[0].name %><% }else{ %>Name<%}%>"
      />

      <label for="job-details">Job Details</label>
      <input
        type="text"
        id="job-details"
        name="jobdetails"
        value="<% if (editing) { %><%= abt[0].jobDetails %><% } %>"
      />

      <label for="phone">Phone</label>
      <input
        type="text"
        id="phone"
        name="phone"
        value="<% if (editing) { %><%= abt[0].phone %><% } %>"
      />

      <label for="phone">List of job Title</label>
      <input
        type="text"
        id="titles"
        name="titles"
        value="<% if (editing) { %><%= abt[0].titles %><% } %>"
      />

      <label for="city">City</label>
      <input
        type="text"
        id="city"
        name="city"
        value="<% if (editing) { %><%= abt[0].city %><% } %>"
      />

      <label for="degree">Degree</label>
      <input
        type="text"
        id="degree"
        name="degree"
        value="<% if (editing) { %><%= abt[0].degree %><% } %>"
      />

      <label for="address">Address</label>
      <input
        type="text"
        id="address"
        name="address"
        value="<% if (editing) { %><%= abt[0].address %><% } %>"
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        value="<% if (editing) { %><%= abt[0].email %><% } %>"
      />

      <% if(editing) {%>
      <input type="hidden" value="<%= abt[0]._id%>" name="aboutId" />
      <% } %>
      <input
        type="submit"
        value="<% if(editing) {%>Update<%} else{ %>Save<% } %>"
      />
    </form>
  </div>

  <%- include('./adminend.ejs') %>
</body>
