<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <div class="backdrop"></div>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <div class="backdrop"></div>
    <header class="main-header">
      <button id="side-menu-toggle">Menu</button>
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/">Home</a>
          </li>
          <% if(isLoggedIn) {%>
          <li class="main-header__item">
            <a
              class="<%= path === '/admin/about' ? 'active' : '' %>"
              href="/admin/about"
              >About</a
            >
          </li>
          <li class="main-header__item">
            <a
              class="<%= path === '/admin/education' ? 'active' : '' %>"
              href="/admin/education"
              >Education</a
            >
          </li>
          <li class="main-header__item">
            <a
              class="<%= path === '/admin/experiences' ? 'active' : '' %>"
              href="/admin/experiences"
              >Experiences
            </a>
          </li>
          <li class="main-header__item">
            <a
              class="<%= path === '/admin/uploadImg' ? 'active' : '' %>"
              href="/admin/uploadImg"
              >Upload Image
            </a>
          </li>
          <li class="main-header__item">
            <a
              class="<%= path === '/admin/update/all' ? 'active' : '' %>"
              href="/admin/update/all"
              >Update
            </a>
          </li>
          <% } %> <%if(!isLoggedIn) { %>
          <li class="main-header__item">
            <a
              class="<%= path === '/auth/login' ? 'active' : '' %>"
              href="/auth/login"
              >Login
            </a>
          </li>
          <% } %>
          <!-- <%if(!isLoggedIn) { %>
          <li class="main-header__item">
            <a
              class="<%= path === '/auth/signup' ? 'active' : '' %>"
              href="/auth/signup"
              >Signup
            </a>
          </li>
          <% } %>  -->
          <% if(isLoggedIn) { %>
          <li class="main-header__item">
            <a
              class="<%= path === '/auth/logout' ? 'active' : '' %>"
              href="/auth/logout"
              >Logout
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
    </header>

    <nav class="mobile-nav">
      <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
          <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a
            class="<%= path === '/products' ? 'active' : '' %>"
            href="/products"
            >Products</a
          >
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"
            >Cart</a
          >
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
            >Orders</a
          >
        </li>
        <li class="mobile-nav__item">
          <a
            class="<%= path === '/admin/add-product' ? 'active' : '' %>"
            href="/admin/add-product"
            >Add Product
          </a>
        </li>
        <li class="mobile-nav__item">
          <a
            class="<%= path === '/admin/products' ? 'active' : '' %>"
            href="/admin/products"
            >Admin Products
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
