<%- include('./adminhead.ejs') %>

<style>
  input[type='text'],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type='email'],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type='submit'] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type='submit']:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
<body>
  <h3>Education Section</h3>

  <div>
    <form
      action="/admin/<%if(editing) {%>postEditEducation <%}else{ %>education <%}%>"
      method="POST"
    >
      <label for="degree">Degree</label>
      <input
        type="text"
        id="degree"
        name="degree"
        value="<% if(editing) { %> <%= edu.degree %> <%}%>"
      />

      <label for="beginningYear">Beginning Year</label>
      <input
        type="text"
        id="beginningYear"
        name="beginningYear"
        value="<% if(editing) { %> <%= edu.beginningYear %> <%}%>"
      />

      <label for="endYear">End Year</label>
      <input
        type="text"
        id="endYear"
        name="endYear"
        value="<% if(editing) { %> <%= edu.endYear %> <%}%>"
      />

      <label for="name">Address</label>
      <input
        type="text"
        id="address"
        name="address"
        value="<% if(editing) { %> <%= edu.location %> <%}%>"
      />

      <label for="details">Study Details</label>
      <input
        type="text"
        id="details"
        name="details"
        value="<% if(editing) { %> <%= edu.details %> <%}%>"
      />

      <% if(editing) {%>
      <input type="hidden" value="<%=edu._id%>" name="id" />
      <% } %>

      <input
        type="submit"
        value="<%if(editing) { %>Update<%} else {%>Save<%}%>"
      />
    </form>
  </div>

  <%- include('./adminend.ejs') %>
</body>
