<%- include('./adminhead.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>

            <main>
                
<h2>Education Section</h2>
                        <!-- Start of deucation section-->
                        <% if (edu.length > 0) { %>
                            <div class="grid">
                                <% for (let education of edu) { %>
                                    <article class="card product-item">
                                        <header class="card__header">
                                            <h1 class="product__title">
                                                <%= education.degree %>
                                            </h1>
                                        </header>
                                        <div class="card__content">
                                            <p class="product__description">
                                                <%= education.beginningYear %>-<%= education.endYear %>
                                            </p>
                                            <p class="product__description">
                                                <%= education.location%>
                                            </p>
                                            <p class="product__description">
                                                <%= education.details %>
                                            </p>
                                            <input type="hidden" value="<%=education._id%>" name="eduId">
                                            
                                        </div>
                                        <div class="card__actions">
                                            <a href="/admin/getEditUpdate/<%= education._id %>" class="btn">Edit</a>
                                            <form action="/admin/deleteEducation" method="POST">
                                                <input type="hidden" value="<%=education._id%>" name="eduId">
                                                <button class="btn" type="submit">Delete</button>
                                            </form>
        
                                        </div>
                                    </article>
                                    <br>
                                    <% } %>
                            </div>
                            <% } else { %>
                                <h1>No Products Found!</h1>
                                <% } %>
                        <!-- End of education section-->
                        <br>
                        <!-- Beginning of experience section-->
                        <h2>Updating Experiences</h2>
                <% if (exp.length > 0) { %>
                    <div class="grid">
                        <% for (let experiences of exp) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= experiences.degree %>
                                    </h1>
                                </header>
                                
                                <div class="card__content">
                                    <p class="product__description">
                                        <%= experiences.beginningYear %>-<%= experiences.endYear %>
                                    </p>
                                    <p class="product__description">
                                        <%= experiences.address %>
                                    </p>
                                    <p class="product__description">
                                        <%= experiences.jobDetails.description %>
                                    </p>
                                    
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/getEditExperiences/<%=experiences._id%>" class="btn">Edit</a>
                                    <form action="/admin/deleteExperiences/<%=experiences._id%>" method="POST">
                                        <input type="hidden" value="" name="#">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <br>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                        <!-- End of experience section -->
            </main>
            <%- include('../includes/end.ejs') %>