<%- include('./adminhead.ejs') %>

<style>
  input[type='text'],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type='email'],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type='submit'] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type='submit']:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
<body>
  <h3>Upload Profile Image</h3>

  <div>
    <form
      action="/admin/uploadImage"
      enctype="multipart/form-data"
      method="POST"
    >
      <label>Choose Image </label>
      <input type="file" name="profileImg" accept="image/*" />

      <input type="submit" value="Upload Photo" />
    </form>
  </div>

  <%- include('./adminend.ejs') %>
</body>
