<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
    </div>

    <%if(abt.length > 0) { %>
    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img
          src="https://pemangodup-personal-portfolio.s3.ap-south-1.amazonaws.com/pemangodup-img"
          class="img-fluid"
          alt="Img"
        />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3><%=abt[0].jobtitle%></h3>
        <p class="fst-italic"><%=abt[0].aboutJobTitle%></p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Name:</strong>
                <span><%= abt[0].name %></span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                <span><%= abt[0].phone %></span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                <span><%= abt[0].city %></span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                <span><%= abt[0].degree %></span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Address:</strong>
                <span><%= abt[0].address %></span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                <span><%= abt[0].email %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% } else {%>
    <h3>Not added in the about section</h3>
    <% } %>
  </div>
</section>
<!-- End About Section -->
