<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
      <p>
        Please fill the form below and sent us the message if there is any
        queries. Once you submit the form below, we will contact you shortly
        with further details. Please enter valid email id in "Your Email" field.
      </p>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>
              <%if(abt.length>0){%><%=abt[0].address%><%}else{%>no address<%}%>
            </p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><%if(abt.length>0){%><%=abt[0].email%><%}else{%>no email<%}%></p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p><%if(abt.length>0){%><%=abt[0].phone%><%}else{%>no phone<%}%></p>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
            frameborder="0"
            style="border: 0; width: 100%; height: 290px"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="mail/send" method="post">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" class="form-control" name="name" id="name" />
            </div>
            <div class="form-group col-md-6">
              <label for="email">Your Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
              />
            </div>
          </div>
          <div>
            <label for="subject">Subject</label>
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
            />
          </div>
          <div>
            <label for="message">Message</label>
            <textarea class="form-control" name="message" rows="10"></textarea>
          </div>

          <div>
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
