<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Resume</h3>
        <%if(abt.length > 0) { %>
        <div class="resume-item pb-0">
          <h4><%=abt[0].name%></h4>
          <p>
            <em><%= abt[0].about%></em>
          </p>
          <ul>
            <li><%= abt[0].address%></li>
            <li><%= abt[0].phone%></li>
            <li><%= abt[0].email%></li>
          </ul>
        </div>
        <%}else{%>
        <h3>Go to the admin panel to add in the section</h3>
        <% } %>

        <h3 class="resume-title">Education</h3>
        <% if(edu.length > 0) { %> <% for(let education of edu) {%>
        <div class="resume-item">
          <h4><%= education.degree%></h4>
          <h5><%= education.beginningYear%>- <%= education.endYear%></h5>
          <p><em><%= education.location%></em></p>
          <p><%= education.details%></p>
        </div>
        <%}%> <%} else { %>
        <h2>Education is empty</h2>
        <% }%>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <%if(exp.length > 0) {%> <% for(let experiences of exp ) {%>

        <div class="resume-item">
          <h4><%= experiences.degree%></h4>
          <h5><%= experiences.beginningYear%> - <%= experiences.endYear%></h5>
          <p><em><%= experiences.address%> </em></p>

          <ul>
            <% experiences.jobDetails.description.split('.').forEach((desc)=> {
            %>
            <li><%= desc%></li>
            <% }); %>
          </ul>
        </div>
        <% } %> <%} else { %>
        <h2>No experiences</h2>
        <% } %>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
