<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="https://pemangodup-personal-portfolio.s3.ap-south-1.amazonaws.com/pemangodup-img"
        class="img-fluid rounded-circle"
        alt="Img"
      />

      <%if(abt.length) { %>
      <h1 class="text-light"><%=abt[0].name%></h1>
      <% }else { %>
      <h1 class="text-light">Default Name</h1>
      <%}%>

      <div class="social-links mt-3 text-center">
        <a
          href="https://www.facebook.com/profile.php?id=100044281442343"
          class="facebook"
          target="_blank"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a
          href="https://www.linkedin.com/in/pema-ngodup-529438130/"
          class="linkedin"
          target="_blank"
          ><i class="bx bxl-linkedin"></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="#hero" class="nav-link scrollto active"
            ><i class="bx bx-home"></i> <span>Home</span></a
          >
        </li>
        <li>
          <a href="#about" class="nav-link scrollto"
            ><i class="bx bx-user"></i> <span>About</span></a
          >
        </li>
        <li>
          <a href="#resume" class="nav-link scrollto"
            ><i class="bx bx-file-blank"></i> <span>Resume</span></a
          >
        </li>
        <li>
          <a href="#contact" class="nav-link scrollto"
            ><i class="bx bx-file-blank"></i> <span>Contact</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
