<!-- head part imported -->
<%- include('./includes/head.ejs') %>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <%- include('./includes/navigation.ejs') %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section
    id="hero"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <div class="hero-container" data-aos="fade-in">
      <%if(abt.length > 0){%>
      <h1><%= abt[0].name%></h1>
      <p>
        I'm
        <span class="typed" data-typed-items="<%= abt[0].titles%>"></span>
      </p>
      <%}else{%>
      <h3>Add name in about section</h3>
      <%}%>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <%- include('./includes/about.ejs')%>
    <!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <%- include('./includes/education.ejs')%>
    <!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <%- include('./includes/contact.ejs')%>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Pema Ngodup</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by Pema Ngodup
      </div>
    </div>
  </footer>
  <!-- End  Footer -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

  <%- include('./includes/end.ejs')%>
</body>
